@model  GrocerCheck.viewModels.GrocerIndexData

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="panel panel-default">
    <div class="panel-body">
        <table class="table">
            <tr>
                <th>
                    GrocerName
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model.Grocers)
            {

                // highlight row
                string selectedRow = "";
                if (item.GrocerID == ViewBag.GrocerID)
                {
                    selectedRow = "success"; //success is Bootstrap success color
                }
                <tr class="@selectedRow">
                    <td>
                        @Html.DisplayFor(modelItem => item.GrocerName)
                    </td>
                    <td>
                        @Html.ActionLink("Select", "Index", new { id = item.GrocerID }) |
                        @Html.ActionLink("Edit", "Edit", new { id = item.GrocerID }) |
                        @Html.ActionLink("Details", "Details", new { id = item.GrocerID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.GrocerID })
                    </td>
                </tr>
            }

        </table>
    </div>
</div>

@if (Model.Categories != null)
{
    //Only if instructors has assigned course(s)
    <h3>Categories carried by: @ViewBag.GrocerName </h3>
    <div class="panel panel-default">
        <div class="panel-body">
            <table class="table">
                <tr>
                    <th>Category Name</th>
                </tr>

                @foreach (var item in Model.Categories)
                {
                    //for selected row highlight
                    string selectedRow = "";
                    if (item.CategoryID == ViewBag.categoryID)
                    {
                        selectedRow = "success";
                    }
                    <tr class="@selectedRow">
                        <td>@Html.ActionLink("Select", "Index", new { itemID = item.Items })</td>
                        <td>@item.CategoryName</td>
                    </tr>
                }
            </table>
        </div>
    </div>
}
